@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  font-family: "Open Sans", sans-serif !important;
  background-color: #fff;
  --primary-color: #0067b8;
  --gray-color: #ededed;
  --green-color: #05a0a0;
  --gray-color-strong: #838383;
  --font-color: #333;
  --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  --size-bezel: 0.5rem;
}

body {
  margin: 0;
  padding: 0;
}
