.cnt-panel {
  width: calc(100vw - 80px);
  height: 100%;
  display: flex;
  flex-direction: row;
}

.cnt-dashboard {
  height: 100vh;
  width: calc(100vw - 80px);
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

@media screen and (max-width: 780px) {
  .cnt-panel {
    width: 100%;
  }

  .cnt-dashboard {
    margin-left: 0px;
  }
}
